<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Exitoso - StayOn</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="form-container">
        <h2>🎉 Registro exitoso</h2>
        <p>¡Tu cuenta ha sido creada correctamente!</p>

        <div class="acciones">
            <a th:href="@{/registro}" class="btn-submit">Volver al registro</a>
			<a th:href="@{/inicio}" class="btn-submit">Volver al inicio</a>
        </div>
    </div>
</body>
</html>
